.euklidRow {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.euklidRow > * {
	flex: 1 1 10%;
	width: 10%;
	display: inline-block;
	border: solid rgba(34,34,34,0.5);
	border-width: 1px 1px 0 0;
}

.euklidRow > *:last-child {
	border-width: 1px 0 0 0;
}

.euklidRow input {
	width: 100%;
	box-sizing: border-box;
	border: none;
	padding: 12px 0 12px 12px;
	text-align: right;
}

.euklidRow:last-child > div {
	position: relative;
}

.euklidRow:last-child > div:after {
	position: absolute;
	top: 100%;
	left: 2px;
	right: 2px;
	background: white;
	text-align: center;
	padding: 7px 0;
	box-shadow: 1px 2px 4px -1px #222, inset 0 9px 9px -9px #222;
	border-top: none;
}

.euklidRow:last-child > div.y:after {
	content: 'ggT';
}

.euklidRow:last-child > div.s:after {
	content: '× x';
}

.euklidRow:last-child > div.t:after {
	content: '× y';
}